{% extends 'base.html' %}
{% load static%}
{% block title %} login {% endblock %}

{% block css %}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/event/">
            Event Management
        </a>
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card mb-5" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create Event</h2>

            <form action="/event/create-events/" method="post">

              {% csrf_token %}


              <div class="form-outline mb-4">
                  <label class="form-label">{{form.name.label_tag }}</label>
                  {{form.name}}
                  <p class="fs-5 text-danger">{{form.name.errors.as_text}}</p>
              </div>

              <div class="form-outline mb-4">
                  <label class="form-label">{{form.start_date.label_tag }}</label>
                  {{form.start_date}}
                  <p class="fs-5 text-danger">{{form.start_date.errors.as_text}}</p>
              </div>

                <div class="form-outline mb-4">
                    <label class="form-label">{{form.end_date.label_tag }}</label>
                    {{form.end_date}}
                    <p class="fs-5 text-danger">{{form.end_date.errors.as_text}}</p>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">{{form.capacity.label_tag }}</label>
                    {{form.capacity}}
                    <p class="fs-5 text-danger">{{form.capacity.errors.as_text}}</p>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">{{form.venue_id.label_tag }}</label>
                    {{form.venue_id}}
                    <p class="fs-5 text-danger">{{form.venue_id.errors.as_text}}</p>
                </div>
  

              <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create</button>
              </div>

              <p class="text-center text-muted mt-4 mb-0">Don't have an Venue? <a href="/event/create-venue/"
                  class="fw-bold text-body"><u>Create Venue here</u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}

{% endblock %}
