
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/event/">Event Management</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/event/create-events/">Create Event </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event/create-venue/">Create Venue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout/">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
